body {
    background-color: #53d6c5;
}
ul {
    list-style-type: square;
}

img.Sushi {
  
    border-radius: 50%;
}

hr {
    width: 99%;
    border-style: dotted none none;
    border-width:  0.5rem;
    border-color: rgb(235, 52, 7);
}